.card{
    width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
    z-index: 2;
}
.card-body{
    padding: 20px;
    padding-top: 120px;
    border-radius: 20px;
    background-color: rgba(217, 217, 217, 0.2);
    transform: translateY(-100px);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    backdrop-filter: blur(10px);
    min-width: 350px;
    min-height: 300px;
    
}
.card-body h4{
    text-align: justify;
}